*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg--main: #1A1625;
    --bord-card: #B3342D;
    --bord-camp: #2C2C2E;
    --text-color: #948BB3;
}

main {
    font-family: "Jim Nightshade", cursive;
    /* background-color: #1a1a2e; */
    background-image: url("./assets/camp_Battle/cript.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header{
    font-size: 30px;

    & .contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
h1 {
    font-size: 40px;
    text-align: center;
    color: var(--text-color); 
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
}

.board {
    display: flex;
    justify-content: center;
    gap: 15px;
    min-height: 180px;
    padding: 15px;
    background: var(--bg--main);
    border-radius: 10px;
    border: 2px solid var(--bord-camp);
}

.card {
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    & .cardImage{
    width: 200;
    height: 300;
    }
}

.card:hover {
    transform: translateY(-10px);
    border-color: var(--bord-card);
    border-radius: 0.8rem;
}

.card.selected {
    border-radius: 0.8rem;
    border-color: var(--bord-camp);
    background: #1a1a2e;
    pointer-events: none;
    transform: scale(0.95);
    opacity: 0.8;
}

.cardImage{
    border-radius: 0.7rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.773);
    width: 230px;
    height: 300px;
}

/*VERIFICAÇÃO DE DADOS DAS CARTAS*/
/* .card-info h2 {
    font-size: 1.1rem;
    margin: 0;
} */
/* .card-info p {
    font-size: 0.9rem;
    color: #00d2ff;
    display: none;
} */
.id-tag { 
    font-size: 1rem;
    color: var(--bord-card);
    align-self:center;
}

.cpu-card { 
    cursor: default; 
}
.cpu-card:hover {
    transform: none;
}

#gameInfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    width: 400px;
    text-align: center;
    color: var(--bord-card);
    /* background: #e94560; */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.section-label {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--text-color);
}