*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg--main: #1A1625;
    --bord-card: #B3342D;
    --bord-camp: #2C2C2E;
    --text-color: #948BB3;
    --shadow-color:#000000c5;
}

body{
    background-color: var(--bg--main);
}

header{
    text-align: center;
    margin: 10px;

    & a{
        color: #ffffffc9;
        font-size: 18px;
    }
    & h1{
        color: var(--bord-card);
        text-align: center;
        font-size: 40px;
    }

    
}

#gameSection{
    text-decoration: none;
    border-radius: 0.6rem;
    margin: 10px;
    box-shadow:6px 8px 10px var(--shadow-color);
    padding: 0.4rem;
    background-color: var(--bord-card);
    color: #ffffffae;
    transition: 0.5s ease;
}

#gameSection:hover{
    transform:  translateY(10px) scale(1.2);
}

#allCards{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
}
.card-info{
    border: 1px solid var(--text-color);
    border-radius: 0.8rem;

    & img{
        border-radius: 1rem;
        width: 400px;
        height: 500px;
    }
}

.id-tag{
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}

@media (max-width: 768px) {
    .card-info img {
        width: 170px; 
        height: auto;
    }
}